{% import "../data/data.html" as list %}
<div class="facts">
    <div class="container">
        <div class="facts__inner">
            <h2 class="facts__title block-title">Here are 8 amazing facts about Wangari…</h2>
            <div class="facts-list">
                {% for item in list.facts %}
                    <div class="facts-item">
                        <div class="facts-item__title">
                            <span>{{item.numberText}}</span> {{item.title}}
                            <div class="facts-item__number">{{item.number}}</div>
                        </div>
                        <div class="facts__text container-sm">
                            {{item.content | safe }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>