<header class="header" style="background-image: url(./img/header-img.png)">
    <div class="container">
        <div class="header__content">
            <h2 class="header__title block-title">8 Amazing Facts About Kenya’s Eight Year Old Queen Of Golf Chanelle Wangari</h2>
            <div class="header-details">
                <p class="header-details__description">
                    Tuko.co.ke spent a morning with her at the Muthaiga Golf Club 
                    where she was working on her swing 
                    with the help of her coach Charles Farrar.
                </p>
                <span class="header-details__data">12 august 2015</span>
                <span class="header-details__data">5201</span>
            </div>
        </div>
        <div class="header__social">
            <div class="social">
                <a class="social__link" href="#">{{mixins.icon('facebook')}}</a>
                <a class="social__link" href="#">{{mixins.icon('facebook')}}</a>
                <a class="social__link" href="#">{{mixins.icon('facebook')}}</a>
            </div>
        </div>
    </div>
</header>