{% set 
facts = [
	{
		title: 'Wangari does all the things eight year old’s do',
		number: '8',
		numberText: 'Eight',
		content: '<p>She goes to class during the week and has homework which she endeavors to finish by Friday afternoon so she can play golf.</p><p><q>“It is a lot of running, we have to make it to practice a bunch of times in a week. There are a lot of early mornings and cramped schedules, especially ahead of a big tournament, but Chanelle loves golf, which makes it all worth it,”</q> says Maureen Wangari, Chanelle’s mother.</p><p>Wangari says she enjoys school very much.</p><p><q>“I love math, numbers are really fun. They help me with golf, you can see how you’re doing in the game, just by using math problems.”</q></p>'
	},
	{
		title: 'Long attention span – but for golf',
		number: '7',
		numberText: 'Seven',
		content: '<p>When Wangari is on the golf course, the game is the only thing on her mind. Yes! No getting distracted. When she plays at the US Kids Golf World Championship, it will be her first time to travel to the US.</p><p>This is what Wangari said when I asked her what she wanted to know about North Carolina.<q> “How is the humidity? It will affect the distance I can hit the ball. I really can’t wait to go to Disney World, right after the competition we are going there and I am so excited!”</q></p>'
	},
	{
		title: 'Travels because of golf',
		number: '6',
		numberText: 'Six',
		content: '<p>To qualify for the US Kids Golf World Championship, Wangari had to be top three in the Africa Junior Golf Championship that was held in South Africa in September 2014. She has played in Malaysia and will travel to Italy in October of 2015 to play.</p><p><q>“I’m very excited to go to Europe to golf. I haven’t been there before and I want to play on their courses, I hear they’re really beautiful,”</q> she says.</p>'
	}
]
%}