{% set 
facts_1 = [
	{
		title: 'Wangari does all the things eight year old’s do',
		number: '8',
		numberText: 'Eight',
		content: '<p>She goes to class during the week and has homework which she endeavors to finish by Friday afternoon so she can play golf.</p><p><q>“It is a lot of running, we have to make it to practice a bunch of times in a week. There are a lot of early mornings and cramped schedules, especially ahead of a big tournament, but Chanelle loves golf, which makes it all worth it,”</q> says Maureen Wangari, Chanelle’s mother.</p><p>Wangari says she enjoys school very much.</p><p><q>“I love math, numbers are really fun. They help me with golf, you can see how you’re doing in the game, just by using math problems.”</q></p>'
	},
	{
		title: 'Long attention span – but for golf',
		number: '7',
		numberText: 'Seven',
		content: '<p>When Wangari is on the golf course, the game is the only thing on her mind. Yes! No getting distracted. When she plays at the US Kids Golf World Championship, it will be her first time to travel to the US.</p><p>This is what Wangari said when I asked her what she wanted to know about North Carolina.<q> “How is the humidity? It will affect the distance I can hit the ball. I really can’t wait to go to Disney World, right after the competition we are going there and I am so excited!”</q></p>'
	},
	{
		title: 'Travels because of golf',
		number: '6',
		numberText: 'Six',
		content: '<p>To qualify for the US Kids Golf World Championship, Wangari had to be top three in the Africa Junior Golf Championship that was held in South Africa in September 2014. She has played in Malaysia and will travel to Italy in October of 2015 to play.</p><p><q>“I’m very excited to go to Europe to golf. I haven’t been there before and I want to play on their courses, I hear they’re really beautiful,”</q> she says.</p>'
	}
]
%}
{% set 
facts_2 = [
	{
		title: 'Playing golf is not in the family genes!',
		number: '5',
		numberText: 'Five',
		content: '<p>It was love at first sight for Wangari. None of her family members play golf. She just loves the game.</p><p><q>I don’t know where she gets it, her father and I don’t play at all. Somehow she loved golf from as young as five, she used to sneak and follow the other golfers out to the course at school. The trainers came to us and told us to Chanelle wanted to give golf a shot and we were really surprised,”</q> says her mother.</p>'
	},
	{
		title: 'Practices until she is perfect.',
		number: '4',
		numberText: 'Four',
		content: '<p>Practice session are four to five times a week at Vet Lab or Muthaiga Golf Club.</p><p><q> “I like all kinds of shots. If it is far or close I don’t care, I’ll make them. That’s why I practice to shoot from all over and to learn. Even if I land in the sand I can get out of it, I just hit behind the ball.”</q></p>'
	},
	{
		title: 'Her coach is a British PGA',
		number: '3',
		numberText: 'Three',
		content: '<p>Wangari’s coach is Charles Farrar, a former pro with the British PGA who has been a golf instructor for nearly two decades. During the session, Farrar makes changes to Wangari’s swings and shot. After a poor shot Farrar makes her adjust her hands a few degrees, barely noticeable to anyone watching.</p><p><q>“That’s more like it! She’ll be quite good, we just have to keep working on these small things, the game is all about consistency, you know.” </q></p>'
	}
]
%}