.facts
    padding-top: 58px
    +r(600)
        padding-top: 15px
    &__inner
        padding: 0px 97px
        +r(1200)
            padding: 0px
    &__title
        color: rgb(56, 56, 56)
        margin-bottom: 67px
        +r(600)
            font-size: 28px
        +r(420)
            font-size: 25px
    &-item
        margin-bottom: 73px
        &:last-child
            margin-bottom: 139px
            +r(900)
                margin-bottom: 50px
        &__title
            +hn-r
            font-size: 30px
            color: rgb(56, 56, 56)
            line-height: 1.2
            border-bottom: 2px solid $mainColor
            margin-right: 47px
            margin-bottom: 40px
            position: relative
            +r(900)
                font-size: 25px
                margin-right: 0px
            +r(420)
                font-size: 22px
            span
                font-size: 48px
                color: $mainColor
                +PT-i
                min-width: 122px
                display: inline-block
                +r(900)
                    font-size: 35px
                +r(420)
                    font-size: 30px
                    min-width: 80px
        &__number
            +hn-b
            font-size: 155px
            color: rgba(56, 56, 56, 0.102)
            line-height: 1em
            position: absolute
            top: -45px
            left: -23px
            +r(900)
                font-size: 120px
            +r(700)
                left: -15px
            +r(420)
                font-size: 100px
    &__text
        p
            +paragraph
            text-indent: initial
            margin-bottom: 25px
            &:nth-child(even)
                text-indent: 18px
        q
            +PT-i
            &:before
                content: ' '
