.header
    background-size: cover
    padding: 85px 0px 26px 0px
    background-repeat: no-repeat
    position: relative
    +r(700)
        padding: 25px 0px 90px
    +r(480)
        padding: 25px 0px 60px
    &__content
        max-width: 530px
    &__title
        margin-bottom: 272px
        +r(1500)
            margin-bottom: 130px
            font-size: 40px
        +r(700)
            font-size: 25px
            margin-bottom: 100px
        +r(480)
            font-size: 22px
            margin-bottom: 40px
    &-details
        &__description
            color: rgb(255, 255, 255)
            font-size: 18px
            line-height: 1.2
            letter-spacing: 0.6px
            margin-bottom: 8px
            +mp-r
            +r(480)
                font-size: 15px
        &__data
            font-size: 13px
            color: rgb(255, 255, 255)
            +mp-r
            margin-right: 5px
            svg
                fill: #fff
                width: 20px
                height: 20px
                position: relative
                top: 5px
    &__social
        background-color: $mainColor
        position: absolute
        right: 0px
        bottom: 27px
        +r(480)
            bottom: 0px
.social
    display: flex
    &__link
        text-decoration: none
        padding: 14px
        display: flex
        svg
            fill: #fff
            width: 18px
            height: 18px
            +r(420)
                width: 15px
                height: 15px