.slider
    &-block
        background-color: $mainColor
        padding-top: 37px
        padding: 37px 0px 25px 0px
        +r(600)
            margin-bottom: 25px
    &__arrow
        width: 12px
        height: 20px
        background-size: 12px 20px
        top: 5%
        +r(900)
            top: 50%
.slide
    text-align: center
    &__img-wrap
        height: 536px
        margin-bottom: 25px
        display: flex
        align-items: center
        justify-content: center
        +r(800)
            height: 400px
        +r(600)
            height: 300px
        +r(380)
            height: 200px
    &__img
        max-height: 530px
        max-width: 1030px
        +r(1200)
            max-width: 100%
            max-height: 100%
    &__description
        font-size: 18px
        color: rgb(255, 255, 255)
        +PT-r
        max-width: 1030px
        margin: 0 auto
        +r(600)
            font-size: 15px
    
