.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-google-plus {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-twitter {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-view {
  width: 0.97em;
  height: 1em;
  fill: initial;
}
